<h1>Add Ingredients</h1>
<h3>Your list of ingredients</h3>

<%= form_for(@recipe, :as => :recipe, :url => update_ingredients_path) do |f| %>
  <% 15.times do %>
    <%= text_field_tag 'ingredients[]', nil, placeholder: 'Ingredient'%>
    <%= text_field_tag 'quantaties[]', nil, placeholder: 'Quantity' %>
    <%= select_tag 'units[]', options_for_select(['', 'grams', 'kg', 'ml', 'L'], '') %>
    <br>
  <% end %>
  <%= f.submit 'Next' %>
<% end %>

<%= render partial: 'preview' %>
