<h1>Add an Image</h1>
<h3>Paste the link to your image below</h3>
<%= form_for(@recipe, :as => :recipe, :url => update_image_path) do |f| %>
  <%= f.label :image %>
  <%= f.text_field :image, placeholder: 'Enter image URL' %>
  <%= f.submit 'Next' %>
<% end %>
<h4>Or <%= link_to 'Click Here', new_ul_image_path %> to upload your own image.</h4>

<%= render partial: 'preview' %>
