<div class="content_container">
  <h1 class='heading'>Shopping Lists</h1>
  <div class="shopping_lists_index">
    <h2>Hi <%= @current_user.name %>! These are your shopping lists!</h2>

    <ul>
      <% @current_user.shopping_lists.each do |list| %>
      <li><%= link_to list.name, shopping_list_path(list.id) %></li>
      <% end %>
    </ul>
    <hr>
    <p>Or Add a new Shopping List</p>
    <%= form_tag url_for(action: 'create', method: "post") do %>
      <%= text_field_tag :name, nil, placeholder: 'Your List Name...' %>
      <%= submit_tag 'Create' %>
    <% end %>
  </div>

</div>
